.history/

# terraform
.terraform/
*.tfstate

# TODO: следует приложить усилия для сохранения *.tfstate файла в процессе эксплуатации
# за подробностями на сюда -> https://www.hashicorp.com/products/terraform

# VSCode
.vscode