.history/

# terraform
.terraform/
*.tfstate

# TODO: следует приложить усилия для сохранения *.tfstate файла в процессе эксплуатации
# за подробностями на сюда -> https://www.hashicorp.com/products/terraform

# VSCode
.vscode

# Ansible
# папка files представляет собой репозиторий который нужно будет сформировать согласно readme.md файлу при скачивании репозитория из git
fmw_12.1.3.0.0_wls.jar
jdk-*-linux-x64.tar.gz