if __name__ == '__main__':  
    from wlstModule import *  
  
connect('weblogic', 'wela@138', 't3://{{ LISTEN_IP }}:{{ LISTEN_PORT }}')  

#start up an edit session  
edit()  
startEdit()  
#change to the root  
cd('/')  
 
myMachine = cmo.createUnixMachine("unixmachine_0")  
  
myMachine.getNodeManager().setNMType('plain')  
myMachine.getNodeManager().setListenAddress('{{ LISTEN_IP }}')
myMachine.getNodeManager().setListenPort({{ NODE_NAN_LISTEN }})

myMachine = cmo.createUnixMachine("unixmachine_1")  
  
myMachine.getNodeManager().setNMType('plain')  
myMachine.getNodeManager().setListenAddress('{{ SLAVE_LISTEN_IP }}')
myMachine.getNodeManager().setListenPort({{ NODE_NAN_LISTEN }})

save()  
activate(block="true")  

print 'Done'  

exit()  